<!DOCTYPE html>
<html>
  <head>
    <title>My First App|Signup</title>
  </head>
  <body>
    <form name="SignUp" method="post" action="/signup">
    <input type="text" placeholder="username" name="username"></input>
    <input type="password" placeholder="password" name="password"></input>
    <input type="email"  placeholder="email" name="email"></input>
    <input type="text" placehodler="firstname" name="firstName"></input>
    <input type="text" placeholder="lastname" name="lastName"></input>
    <input type="submit" value="Submit"></input>
    </form>
    <p><%=message%></p>
    <p onclick="window.location.href='/'">Already Registered?</p>
  </body>
</html>
